{% extends 'base.html' %}

{% block content %}
    <form method="POST">
        <div class="mb-3">
            <label for="InputLogin">Login</label>
            <input type="text" class="form-control" id="InputLogin" name="username">
            
        </div>
        <div class="mb-3">
            <label for="InputPassword">Password</label>
            <input type="text" class="form-control" id="InputPassword" placeholder="Password" name="password">
        </div>
        <div class="mb-3">
            <label for="Check" class="form-check-label ">Запомнить меня</label>
            <input type="checkbox" class="form-check-input" id="Check"  name="remember_me">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    {% if error %}
    <span>{{ error }}</span>
    {% endif %}
{% endblock %}